############################################
# Maven
############################################
target/
!.mvn/wrapper/maven-wrapper.jar

############################################
# Logs
############################################
*.log
logs/

############################################
# Spring Boot
############################################
application-local.yml
application-local.properties
.env

############################################
# IDE Files
############################################

# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# VS Code
.vscode/

############################################
# OS Files
############################################
.DS_Store
Thumbs.db

############################################
# Mac/Linux
############################################
*.swp
*.swo
